.clients {
  background-color: #F0F0F0;
  position: relative;

  .section-title {
    color: $green-blue-dark;
    text-align: center;
  }

  &__container {
    padding: 80px;
    position: relative;
    height: 100%;
    overflow: hidden;

    @include mobile {
      padding: 40px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  .blob {
    position: absolute;
  }

  .blob-1 {
    top: -300px;
    left: -400px;

    @include mobile {
      left: -450px;
    }
  }

  .blob-2 {
    bottom: -200px;
    right: -300px;

    @include mobile {
      right: -400px;
    }
  }

  &__logos {
    margin-top: 50px;

    @include mobile {
      display: flex;
    }
  }

  .client-logo {
    max-width: 200px;
    align-self: center;
    margin: 10px 30px;

    @include mobile {
      max-width: 150px;
    }
  }

  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;

    @include mobile {
      flex-direction: column;
      width: 50%;
      margin: 10px;
    }
  }

  .mellro-wrapper {
    background: #6c66e7;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}