$background: #212121;
$background-dark: #020001;
$white: #f4f4f4;
$black: #333;

$primary: #cc0000;
$primary-light: #ff5555;
$secondary: #777;

// $green-blue: #4F849F;
// $green-blue: #66D7D1;
// $green-blue: #0ab3e6;
// $green-blue: #053c61;
// $green-blue: #24b6cf;
// $green-blue: #406B95;
// $green-blue: #4D78CC;
// $green-blue: #2ac7e3;

// $green-blue-dark: #22414D;
// $green-blue-dark: #162E37;
// $green-blue-dark: #122C34;
// $green-blue-dark: #016FB9;


$green-blue: #26a8cf;
$green-blue-dark: #09314b;
