$background: #212121;
$background-dark: #020001;
$white: #f4f4f4;
$black: #333;

$primary: #cc0000;
$primary-light: #ff5555;
$secondary: #777;

// $green-blue: #4F849F;
$green-blue: #24b6cf;

$green-blue-dark: #18343E;
