.contact {
  background: #303030;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: none !important;

  p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;

    @media screen and (max-width: 700px) {
      font-size: 16px;
      margin: 20px 10px;
    }
  }

  form {
    max-width: 400px;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      width: 80%;
    }
  }

  input {
    font-family: "Work Sans", sans-serif;
    border: 0;
    border-bottom: 1px solid $secondary;
    background: transparent;
    width: 100%;
    display: block;
    font-size: 24px;
    color: $white;
    margin: 0;
    padding: 10px 5px;
    margin-bottom: 30px;
    text-align: center;

    &:focus {
      outline: none !important;
      outline-offset: none !important;
      border-bottom-color: $primary;
    }

    @media screen and (max-width: 700px) {
      font-size: 20px;
    }
  }

  textarea {
    background: transparent;
    border: 1px solid $secondary;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    color: $white;
    border-radius: 5px;

    &:focus {
      outline: none !important;
      outline-offset: none !important;
      border-color: $primary;
    }

    @media screen and (max-width: 700px) {
      font-size: 16px;
    }
  }

  button.submit-btn {
    border: 1px solid $secondary;
    background: transparent;
    color: $white;
    padding: 10px 30px;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 10px auto;
    transition: all 0.3s ease;

    &:hover {
      border-color: $primary;
      background: $primary;
    }

    &:focus {
      outline: none;
    }
  }
}
