@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap");
@import "_colors.scss";

@font-face {
  font-family: "LibreBaskerville";
  src: url("./fonts/LibreBaskerville-Regular.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}


section {
  .section-title {
    font-size: 36px;
    font-weight: 300;
  }
}

/* Parallax effect */
.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}

/* Fade-in effect */
.fadein {
  opacity: 0;
}