@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700|Work+Sans:300,400,700&display=swap");
@import "_colors.scss";

@font-face {
  font-family: "LibreBaskerville";
  src: url("./fonts/LibreBaskerville-Regular.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: "Work Sans", sans-serif;
  // font-family: "Dosis", sans-serif;
  // font-family: 'Fira Sans', sans-serif;
  color: $white;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.section {
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;

  &-title {
    letter-spacing: 5px;
    font-size: 48px;
    margin-top: 50px;
    text-align: center;

    .bracket {
      color: $primary;
      font-family: "LibreBarskerville";
      font-size: 56px;
    }
  }
}
