.home {
  background-color: $white;

  &__container {
    position: relative;
    padding: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 50%;
    text-align: end;
    z-index: 1;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 700px;
  }

  &__title {
    font-size: 90px;
    color: #18343E;
  }

  &__subtitle {
    font-size: 26px;
    color: #18343E;
    margin-top: 60px;
  }

  .typewriter {
    height: 50px;
    margin: 10px 0px 50px;

    &__text {
      font-size: 32px;
      color: #18343E;
      text-decoration: none;
    }

    .blink {
      font-size: 32px;
      border-right: 0.08em solid #598FA9;
      animation: blink 1s step-start 0s infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }


  &__button {
    width: 200px;
    background-color: #598FA9;
    color: $white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
    transition: opacity .4s ease;

    &:hover {
      opacity: .8;
    }
  }
}