.home {
  background-color: $white;
  display: flex;
  justify-content: center;
  height: 640px;

  &__container {
    position: relative;
    padding: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 50%;
    text-align: end;
    z-index: 1;
  }

  &__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 700px;
  }

  &__title {
    font-size: 90px;
    color: $green-blue-dark;
  }

  &__subtitle {
    font-size: 24px;
    color: $black;
    margin-top: 60px;
    font-weight: 300;
  }

  .typewriter {
    height: 50px;
    margin: 10px 0px 50px;

    &__text {
      font-size: 32px;
      color: $green-blue-dark;
      text-decoration: none;
      cursor: default;
    }

    .blink {
      font-size: 32px;
      border-right: 0.08em solid $green-blue;
      animation: blink 1s step-start 0s infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }

  &__button {
    width: 200px;
    background-color: $green-blue;
    color: $white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
    transition: opacity .4s ease;

    &:hover {
      opacity: .8;
    }
  }
}