.photo-section {
  height: 400px;

  .parallax {
    /* The image used */
    background-image: url("../assets/photo-1.jpg");

    /* Set a specific height */
    height: 400px;
  }

  &__text {
    font-size: 46px;
    color: $white;
    position: relative;
    z-index: 1;
  }
}
